body {
    font-family: Garamond, serif;
    background-color: powderblue;
}

h1,
h2 {
    font-family: Helvetica, sans-serif;
}

h2 {
    color: hotpink;
}

h2::first-letter {
    color: black;
}

a {
    color: hotpink;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

nav li {
    display: inline;
}